In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os 

# Files to Load 
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Store csv files in DataFrames 
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
combined_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
combined_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#DISTRICT SUMMARY
#Calculate Number of Schools
school_name = school_df["school_name"].unique()
school_total = len(school_name)

#Calculate Number of Students
student_total = school_df["size"].sum()

#Calculate Total Budget
budget_total = school_df["budget"].sum()

#Calculate Average Math Score
avg_math_score = student_df["math_score"].mean()

#Calculate Average Reading Score
avg_reading_score = student_df["reading_score"].mean()

#Calculate % Passing Math
pct_passing_math = ((student_df["math_score"] >= 70).count()/student_total)*100

#Calculate % Passing Reading
pct_passing_reading = ((student_df["reading_score"] >= 70).count()/student_total)*100

#Calculate % Passing Both
pct_passing_both = ((student_df["math_score"] >= 70) & (student_df["reading_score"] >=70))*100

#Create DataFrame for Results
summary_table = pd.DataFrame({
    "School Total": [school_total],
    "Student Total": [student_total],
    "Budget": [budget_total],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "Percent Passing Math": [pct_passing_math],
    "Percent Passing Reading": [pct_passing_reading],
    "Percent Passing Both": [pct_passing_both]})
                    
#Order Columns
summary_table = [[
    "School Total",
    "Student Total",
    "Budget",
    "Average Math Score",
    "Average Reading Score",
    "Percent Passing Math",
    "Percent Passing Reading",
    "Percent Passing Both"]]
              
#Clean Results
summary_table["Student Total"] = summary_table["Student Total"].map("{:,}".format)
summary_table["Budget"] = summary_table["Budget"].map("${:,}".format)
summary_table["Average Math Score"] = summary_table["Average Math Score"].map("{:,.2f}".format)                    
summary_table["Average Reading Score"] = summary_table["Average Reading Score"].map("{:,.2f}".format)  
summary_table["Percent Passing Math"] = summary_table["Percent Passing Math"].map("{:,.2%}".format)
summary_table["Percent Passing Reading"] = summary_table["Percent Passing Reading"].map("{:,.2%}".format)
summary_table["Percent Passing Both"] = summary_table["Percent Passing Both"].map("{:,.2%}".format)

summary_table.head()

TypeError: list indices must be integers or slices, not str